@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.hide{
	display:none !important;
}

.ubuntu-light {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .ubuntu-light-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .ubuntu-regular {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .ubuntu-regular-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .ubuntu-medium {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .ubuntu-medium-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .ubuntu-bold {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .ubuntu-bold-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	list-style: none;
	font-family: "Ubuntu", sans-serif;
}

.wraper{
	max-width:100%;
	min-height:100vh;
	padding:25px 15px;
	background-color:#7579E7;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.wraper .heading{
	margin:15px 10px;
	padding:15px;
	color:white;

}

.heading .title{
	margin-bottom:10px;
	font-size:28px;
}

.heading .subtitle{
	margin-bottom:10px;
	font-size:14px;
}

.todo-manager{
	padding:15px;
	min-width:40vw;
	max-width:60vw;
	height:100%;
}

@media screen and (max-width: 480px) {
	.wraper{
		max-width:100%;
		min-height:100vh;
		padding:10px;
		background-color:#7579E7;
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.todo-manager{
		padding:10px;
		max-width:100%;
		height:100%;
	}
  }

.todo-manager .search-box, .message-box{
	padding:10px;
	background-color:white;
	height:auto;
	border-radius:10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-box .search{
	width:100%;
	padding:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.search input{
	width:100%;
	padding:10px;
	border-radius:5px;
	margin-right:5px;
}

.search-todo{
	padding:10px;
	font-size:16px;
	border-radius:4px;
	border:none;
	background-color:#5D50C6;
	color:white;
	cursor: pointer;
}

.task-box{
	margin:10px 0px;
	padding:10px;
	background-color:white;
	border-radius:10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.todo-list li{
	border-radius:4px; 
	margin:10px 8px;
	padding:12px;
	background-color:#C7C8CC;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.todo-list li span{
	font-size:14px;
}
.todo-list li i{
	padding:5px;
	color:#FF004D;
	cursor: pointer;
	font-size:16px;
}

.task-box .add-todo{
	margin-top:30px;
	width:100%;
	padding:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.add-todo input[type="text"]{
	width:100%;
	padding:10px;
	border-radius:5px;
	margin-right:5px;
}

.add-todo input[type="submit"]{
	padding:9px 15px;
	background-color:#5D50C6;
	color:white;
	border-radius:4px;
	border:none;
	font-size:16px;
	cursor: pointer;
}

.message-box{
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.message-box p{
	font-size:18px;
	margin:10px 5px;
}

.message-box button{
	font-size:16px;
	margin:10px 5px;
	padding:8px 10px;
	background-color:#F35F5F;
	color:white;
	border-radius:4px;
	border:none;
}
